* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Megum';
	src: url('../fonts/Megum.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.container {
	max-width: 1535px;
	margin: 0 auto;
}

.header-backround img {
	z-index: -2;
	position: absolute;
	max-width: 100%;
}
.planet-backround img {
	position: absolute;
	z-index: -2;
	width: 849px;
	height: 849px;
	top: 150px;
	left: 158px;
}

.vector-backround img {
	z-index: -1;
	position: absolute;
	max-width: 100%;
}

.logo {
	position: relative;
}

.logo-img {
	position: absolute;
	left: 43.4%;
	right: 50%;
}

.logo-connect-wallet {
	position: absolute;
	left: 41.5%;
	right: 50%;
	top: 200px;
	cursor: pointer;
}

.back-star-ship img {
	position: absolute;
	z-index: -1;
	top: 346px;
	left: 352px;
}

.star-ship-img {
	padding-top: 470px;
	width: 778px;
	height: 482px;
	padding-left: 280px;
}

.main-container {
	max-width: 1535px;
	margin: 0 auto;
}

.main-logo {
	display: flex;
	justify-content: center;
	font-family: 'Megum', sans-serif;
	font-size: 48px;
	color: #ffffff;
	line-height: 38.4px;
	padding-top: 800px;
}

.main-backround img {
	position: absolute;
	z-index: -2;
	top: 1200px;
	max-width: 100%;
}

.main-backround2 img {
	position: absolute;
	z-index: -2;
	top: 2500px;
	max-width: 100%;
}

.emimi-frame img {
	z-index: -1;
	position: absolute;
	top: 1800px;
}

.emimi-info {
	display: grid;
	grid-template-columns: repeat(2, 840px);
	padding-top: 131px;
}

.emimi-table-list1 {
	display: flex;
	list-style: none;
	gap: 60px;
	padding-top: 40px;
}

.emimi-table-item1 {
	font-family: 'Megum', sans-serif;
	color: #ffffff;
	font-size: 40px;
	line-height: 32px;
	-webkit-text-stroke: 1px #0a98ff;
}

.emimi-table-item1 span {
	color: #a2c2d0;
	font-size: 22px;
	line-height: 17.6px;
	-webkit-text-stroke: 0;
}

.emimi-table-item2 {
	font-family: 'Megum', sans-serif;
	color: #0a98ff;
	font-size: 40px;
	line-height: 32px;
}

.emimi-table-item2 span {
	color: #a2c2d0;
	font-size: 22px;
	line-height: 17.6px;
}
#emimi-space {
	width: 345px;
}

.emimi-table-list2 {
	display: flex;
	list-style: none;
	gap: 60px;
	padding-top: 40px;
}

.emimi-description {
	font-family: 'Megum', sans-serif;
	color: #a2c2d0;
	font-size: 16px;
	line-height: 29px;
	padding-top: 83px;
}

.smimi-frame img {
	position: absolute;
	z-index: -1;
	top: 2300px;
	right: 0;
}
.smimi-logo {
	padding-left: 150px;
}

.smimi-info {
	display: grid;
	grid-template-columns: repeat(2, 800px);
	padding-top: 100px;
}

.smimi-table-list {
	list-style: none;
	display: flex;
	gap: 60px;
	padding-top: 40px;
	padding-right: 50px;
}

.smimi-table-item1 {
	font-family: 'Megum', sans-serif;
	color: #ff2222;
	font-size: 40px;
	line-height: 32px;
	width: 454px;
	direction: rtl;
	text-align: right;
}

.smimi-table-item1 span {
	color: #dcb5b5;
	font-size: 22px;
	line-height: 17.6px;
}

.smimi-table-item2 {
	color: #ffffff;
	font-family: 'Megum', sans-serif;
	font-size: 40px;
	line-height: 32px;
	-webkit-text-stroke: 1px #ff4545;
	direction: rtl;
	text-align: right;
}

.smimi-table-item2 span {
	color: #dcb5b5;
	font-size: 22px;
	line-height: 17.6px;
	-webkit-text-stroke: 0;
}

#smimi-airdrop {
	padding-top: 40px;
	padding-left: 300px;
}

.smimi-description {
	font-family: 'Megum', sans-serif;
	font-size: 16px;
	line-height: 29px;
	color: #dcb5b5;
	width: 694px;
	padding-top: 80px;
	padding-left: 100px;
}

.use-token {
	padding-top: 150px;
}

.use-token h1 {
	display: flex;
	justify-content: center;
	font-family: 'Megum', sans-serif;
	color: #ffffff;
	font-size: 48px;
	line-height: 38.4px;
}

.use-token-action {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding-top: 34px;
}

.use-token-button1 {
	width: 268px;
	height: 60px;
	background: #0a98ff;
	color: #ffffff;
	font-family: 'Megum', sans-serif;
	cursor: pointer;
	text-align: center;
	border: 0;
	font-size: 20px;
	line-height: 16px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
	gap: 10px;
}

.use-token-button1:hover {
	background: #0377ca;
}

.use-token-button2 {
	width: 271px;
	height: 60px;
	color: #ffffff;
	font-family: 'Megum', sans-serif;
	cursor: pointer;
	text-align: center;
	background: transparent;
	border: 2px solid #ff2222;
	box-shadow: 0 0 30px rgba(241, 107, 107, 0.3);
	gap: 10px;
	font-size: 20px;
	line-height: 16px;
}

.use-token-button2:hover {
	background: #ff4545;
}

.use-token-img {
	position: absolute;
	top: 3500px;
}

.backround2 img {
	position: absolute;
	z-index: -2;
	top: 3800px;
	max-width: 100%;
}

.backround3 img {
	position: absolute;
	z-index: -2;
	top: 5100px;
	max-width: 100%;
}

.about-info {
	padding-top: 1500px;
	display: flex;
	justify-content: center;
}

.about-info-list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 350px);
	align-items: center;
	cursor: pointer;
}

.about-info-item:last-child {
	grid-column: span 4;
	justify-self: center;
}

.frame img {
	position: absolute;
	z-index: -1;
	right: 0;
	top: 5400px;
}

.mars-services {
	padding-top: 166px;
}

.mars-services-container {
	width: 1, 260px;
}

.mars-services-logo {
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-family: 'Megum', sans-serif;
	font-size: 48px;
	line-height: 38.4px;
}

.mars-services-action {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-top: 40px;
}

.swap {
	width: 300px;
	height: 60px;
	background: #1f0b0b;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	font-family: 'Megum', sans-serif;
	font-size: 17px;
	line-height: 13.6px;
	box-shadow: 0 0 30px rgba(250, 81, 81, 0.3);
	border: 0;
}

.swap:hover {
	background: #3a1616;
}

.staking {
	width: 300px;
	height: 60px;
	border: 2px solid #560f0f;
	background: transparent;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Megum', sans-serif;
	font-size: 17px;
	line-height: 13.6px;
	box-shadow: 0 0 10px rgba(250, 81, 81, 0.3);
}

.staking:hover {
	background: #b80404d0;
}

.game {
	width: 300px;
	height: 60px;
	border: 2px solid #ff2222;
	background: transparent;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Megum', sans-serif;
	font-size: 17px;
	line-height: 13.6px;
	box-shadow: 0 0 10px rgba(250, 81, 81, 0.3);
}

.game:hover {
	background: #570c0c;
}

.backround4 img {
	position: absolute;
	z-index: -2;
	top: 6440px;
	max-width: 100%;
}

.swap-service-frame img {
	z-index: -1;
	position: absolute;
	top: 5930px;
}

.swap-service-img {
	padding-top: 130px;
}

.swap-service-info {
	display: flex;
}

.swap-service-text {
	padding-top: 250px;
	padding-left: 60px;
	font-family: 'Megum', sans-serif;
}

.swap-service-text h1 {
	color: #ffffff;
	font-size: 38px;
	line-height: 30.4px;
	padding-bottom: 40px;
}

.swap-service-text p {
	color: #a2c2d0;
	font-size: 16px;
	line-height: 29px;
	width: 740px;
}

.roladmap {
	display: flex;
	justify-content: center;
	padding-top: 130px;
}

.backround5 img {
	position: absolute;
	z-index: -2;
	top: 7780px;
	max-width: 100%;
}

.community-and-media {
	padding-top: 60px;
	padding-left: 315px;
}

.community-and-media-container {
	max-width: 910px;
}

.title {
	font-family: 'Megum', sans-serif;
	color: #ffffff;
	font-size: 48px;
	line-height: 38.4px;
	text-align: center;
}

.community-and-media-item {
	display: flex;
	gap: 70px;
}

.telegram {
	border: 1px solid #27a7e880;
	width: 420px;
	height: 239px;
	align-items: center;
	margin-top: 118px;
}

.telegram-info {
	width: 384.9px;
	height: 201.18px;
	background-color: rgba(0, 153, 255, 0.2);
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.telegram-title {
	display: flex;
	gap: 25px;
	align-items: center;
	margin-top: 44px;
	margin-left: 40px;
}

.telegram-title img {
	width: 30px;
	height: 30px;
}

.telegram-title h1 {
	font-family: 'Megum', sans-serif;
	color: #ffffff;
	font-size: 30px;
	line-height: 24px;
}

.telegram-frame {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.telegram-button {
	width: 117px;
	height: 53px;
	background: #27a7e8;
	box-shadow: 0 0 30px #51c4fa4d;
	border: 0;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Megum', sans-serif;
	line-height: 11px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 43px;
	margin-left: 40px;
}

.telegram-button:hover {
	background: #0377ca;
}

.youtube {
	border: 1px solid #404eed;
	width: 420px;
	height: 239px;
	align-items: center;
	margin-top: 118px;
}

.youtube-info {
	width: 384.9px;
	height: 201.18px;
	background-color: rgba(95, 39, 248, 0.2);
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.youtube-frame {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.youtube-title {
	display: flex;
	gap: 25px;
	align-items: center;
	margin-top: 20px;
	margin-left: 20px;
}

.youtube-title img {
	width: 64px;
	height: 64px;
}

.youtube-title h1 {
	font-family: 'Megum', sans-serif;
	color: #ffffff;
	font-size: 30px;
	line-height: 29px;
}

.youtube-button {
	width: 117px;
	height: 53px;
	background: #404eed;
	box-shadow: 0 0 30px #ae51fa4d;
	border: 0;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Megum', sans-serif;
	line-height: 11px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 43px;
	margin-left: 20px;
}

.youtube-button:hover {
	background: #a032fa4d;
}

.frame4 {
	position: absolute;
	right: 0;
}

.footer-back img {
	position: absolute;
	z-index: -1;
	top: 8300px;
	max-width: 100%;
}

.footer {
	padding-top: 450px;
	padding-left: 200px;
}

.footer-form {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	display: flex;
	width: 1461px;
	height: 211px;
}
.main-form {
	padding-left: 96px;
}

.footer-logo {
	color: #ffffff;
	text-align: center;
	margin-top: 62px;
	margin-left: 30px;
	width: 159px;
	height: 154px;
}

.main-subscripe {
	display: flex;
	color: #ffffff;
	font-family: 'Megum', sans-serif;
	font-size: 30px;
	line-height: 24px;
	margin-top: 33px;
}

.subscripe h2 {
	color: #ffffff;
	font-size: 17px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.action-form {
	margin-top: 40px;
	background: transparent;
	width: 544px;
	height: 53px;
	border: 1px solid #ff2222;
	position: relative;
}

.input {
	background: transparent;
	color: #c7c7c7;
	font-size: 13px;
	border: 0;
	height: 53px;
	padding-left: 20px;
	width: 402px;
}

.input:focus {
	border: 0;
	outline: 0;
}

.form-button {
	background: #ff2222;
	box-shadow: 0 0 30px #fc5050;
	border: 0;
	width: 142px;
	height: 53px;
	font-family: 'Megum', sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	line-height: 11px;
	position: absolute;
	right: 0;
	cursor: pointer;
}

.form-button:hover {
	background: #cc2323;
}

@media (max-width: 990px) {
	.header-backround img{
		display: none;
	}
	.planet-backround img{
		display: none;
	}
	.vector-backround img {
		display: none;
	}
	.star-ship img{
		display: none;
	}
	.main-backround img{
		display: none;
	}
	.backround2 img{
		display: none;
	}
	.backround3 img{
		display: none;
	}
	.backround4 img{
		display: none;
	}
	.backround5 img{
		display: none;
	}
	.roladmap img{
		display: none;
	}
	.footer-back img{
		display: none;
	}
	.use-token-img img {
		display: none;
	}
	.smimi-img img{
		display: none;
	}
	.emimi-planet img{
		display: none;
	}
	.emimi-frame img{
		display: none;
	}
	.smimi-frame img{
		display: none;
	}
	.frame img{
		display: none;
	}
	.frame4 img{
		display: none;
	}
	.swap-service-img img{
		display: none;
	}
	.frame4 img{
		display: none;
	}
	.frame3 img{
		display: none;
	}
	.frame2 img{
		display: none;
	}
	.swap-service-frame img{
		display: none;
	}
	.use-token-img img{
		display: none;
	}
	.container {
		max-width: 100%;
		margin: 0 auto;
	}
	body {
		background: #242424;
	}
	.main-container {
		max-width: 100%;
	}
	.logo {
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}

	.logo-img {
		display: flex;
		justify-content: center;
	}

	.logo-connect-wallet {
		display: flex;
		justify-content: center;
		top: 200px;
		cursor: pointer;
	}
	.main-logo {
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}
	.emimi-info {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 13px 13px;
		width: 100%;
	}
	.smimi-info {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 13px 13px;
		width: 100%;
	}
	.about-info-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 13px 13px;
	}
	.community-and-media {
		display: flex;
		justify-content: center;
		width: 100%;
		padding-left: 10px;
		align-items: center;
	}
	.community-and-media-item {
		justify-content: center;
		flex-wrap: wrap;
		gap: 13px 13px;
		width: 100%;
	}
	.about-info {

	}
	.title {
		font-size: 38px;
		line-height: 22.4px;
		width: 100%;
	}
	.swap-service-text {
		padding-top: 30px;
		padding-left: 15px;
		width: 100%;
	}
	.swap-service-text h1{
		font-size: 28px;
		line-height: 30.4px;
	}
	.mars-services-logo {
		margin-left: 10px;
	}
	.swap-service-text p{
		width: 100%;
	}
	.mars-services-action {
		flex-wrap: wrap;
		gap: 13px 13px;
	}
	.swap {
		width: 100%;
		margin: 10px;
	}
	.staking{
		width: 100%;
		margin: 10px;
	}
	.game{
		width: 100%;
		margin: 10px;
	}
	.community-and-media {
		display: flex;
		justify-content: center;
	}
	.telegram {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
	}
	.main {
		display: none;
	}
	.use-token {
		position: absolute;
		top: 200px;
		z-index: 1;
		width: 100%;
	}
}
